# 对于 Python 的视觉模块
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/
.env

vision/weights/*.pt
vision/weights/*.onnx
vision/weights/*.engine

vision/output/

# 对于 Node.JS 的服务器模块
node_modules/
rov-web-service/dist/
rov-web-service/.env
rov-web-service/*.log
rov-web-service/npm-debug.log*

.kilo